[submodule "gist"]
	path = gist
	url = https://gist.github.com/aeikm/3c2e63d82103697106ac81b26f207b75
[submodule "github"]
	path = github
	url = https://gist.github.com/aeikm/f91af6bb4f69d4a6c7911b09a89dbcac
[submodule "git"]
	path = git
	url = https://gist.github.com/aeikm/bf25ccdf790d6e87cbdf5b168213ba32
[submodule "gist-test"]
	path = gist-test
	url = https://gist.github.com/aeikm/50f9b573b10d6b10bdea42d9d00bc3b4
[submodule "vscode"]
	path = vscode
	url = https://gist.github.com/aeikm/484bedafdf283c5fb26dae42179a767d
[submodule "history"]
	path = hist
	url = https://gist.github.com/aeikm/4c52fc9ccc602b75fc92a4aa2bb7005b
[submodule "imgs"]
	path = imgs
	url = https://gist.github.com/aeikm/828984001db72e714983140fd1694c35
